{lib_dirs, ["deps"]}.
{erl_opts, [{i,"deps"}, debug_info]}.
{deps, []}.
{port_env, [
            %% Make sure to set -fPIC when compiling leveldb
            {"CFLAGS", "$CFLAGS -fPIC"},
            {"CXXFLAGS", "$CXXFLAGS -fPIC"},
            {"DRV_CFLAGS", "$DRV_CFLAGS -Werror"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -ldtrace"}
            ]}.
