{erl_opts, [{i,"deps"}, debug_info]}.
{deps, []}.

{so_name, "erltrace_drv.so"}.

{port_env, [
            %% Make sure to set -fPIC when compiling leveldb
            {"freebsd", "DRV_CFLAGS",
             "$DRV_CFLAGS -Wno-unknown-pragmas"
             " -I/usr/src/sys/cddl/compat/opensolaris"
             " -I /usr/src/sys/cddl/contrib/opensolaris/uts/common"
             " -I/usr/src/cddl/contrib/opensolaris/lib/libdtrace/common"
             " -I/usr/src/sys/cddl/compat/opensolaris"},
            {"CFLAGS", "$CFLAGS -fPIC"},
            {"CXXFLAGS", "$CXXFLAGS -fPIC"},
            {"DRV_CFLAGS", "$DRV_CFLAGS -Werror"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -ldtrace"}
            ]}.

{plugins,
  [pc]}.

{provider_hooks,
  [{post,
    [{compile, {pc, compile}},
     {clean, {pc, clean}}]}]}.
